.desktop {
    width: 700px;
    height: auto;
    border: solid;
}

.phone {
    width: auto;
    height: 600px;
    border: solid;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}